.auth-container {
    text-align: center;
    display: inline-block;
    font-style: italic;
}

.auth-app {
    text-align: center;
    padding: 10px;
   
}

.quote {
    width: 400px;
    display: inline-block;
    margin-left: 100px;
    font-style: italic;
}
