
<div class="d-flex auth-app">
  <p-tabView class="auth-container">
    
    <p-tabPanel [cache]="isTabCaching" header="Авторизация">
      <ng-template pTemplate="content">
        <app-authorization></app-authorization>
      </ng-template>
    </p-tabPanel>
 
    <p-tabPanel header="Регистрация">
      <app-registration></app-registration>
    </p-tabPanel>
  </p-tabView>

  <div class="quote">
    <p>Лучшее фэнтези написано на языке мечты. 
    Оно такое же живое, как мечта, реальнее, чем сама реальность... по крайней мере, на миг, долгий волшебный миг перед тем, как мы проснёмся. 
    Фэнтези — серебро и багрянец, индиго и лазурь, обсидиан с прожилками золота и лазурита... 
    Фэнтези имеет вкус хабанеры и мёда, корицы и гвоздики, превосходного красного мяса и вина, сладкого, словно лето...(c) Джордж Мартин</p>
  </div>
  <div>
    <img src="../../../../../../img-1.jpg" alt="">
  </div>
</div>
