.basket {
    margin-top: 50px;
    margin-bottom: 600px;
    margin-left: 10px;
}

.btn-pay {
    height: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-pay :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.btn-q {
    height: 20px;
    width: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-c {
    height: 20px;
    width: 70px;
    background-color: white;
    border-color: lightsteelblue;
    margin-bottom: 10px;
}

.btn-q :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.btn-q :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.bnt-s {
margin-top: 5px;
}

.quantity-select {
    padding-top: 5px;
    padding-bottom: 10px;
}