<div class="basket">

    <a routerLink="/books/books-list">Назад</a>

    <h3>Товары в корзине</h3>

    <div class="cart-item" *ngFor="let item of items">
        <div class="book-name">{{item.name}}</div>
        <div class="book-title">{{item.title}}</div>
        <div class="book-price">{{item.price | currency : "руб. " }}</div>
        <div class="book-description">{{item.description}}</div>
        <div class="book-img">
            <img src="../../../assets/img/img/{{item.img}}" width="150px" height="200px">
        </div>

        <div class="bnt-s">
            <button (click)="decrease(item)" class="btn-q">-</button>

            <button (click)="increase(item)" class="btn-q">+</button>

            <button (click)="clearCart()" class="btn-c">Удалить</button>

        </div>
    </div>

    <div *ngFor="let item of items, let i = index">
        <p>Общее количество {{item.quantity}}</p>
        <p>Итого {{item.price * item.quantity}}</p>
    </div>

    <p>Для создания заказа и оплаты покупки просим Вас зайти на сайт или зарегистрироваться. Спасибо</p>

    <div class="sector">
      <!--<button type="button"  class="btn-pay btn-pay" *ngIf="showBtn">Оплата</button>-->
        <div class="versions" *ngIf="showBtn">
            <legend class="radio">Способ получения книги</legend>

            <div class="radio-var store">
                <input type="radio" id="in" name="receiving" value="in_store" />
                <label for="in_store">Самовывоз из магазина</label>
                <p class="in_store">Наш адрес</p>
            </div>
            <div class="radio-var courier">
                <input type="radio" id="out" name="receiving" value="courier" />
                <label for="courier">Доставка курьером</label>
                <input type="text" placeholder="Укажите ваш адрес" class="address">
            </div>


            <legend class="radio">Способ оплаты</legend>

            <div class="radio-var">
                <input type="radio" id="in_card" name="pay" value="in_card" />
                <label for="in_card">Банковская карта в магазине</label>
            </div>
            <div class="radio-var">
                <input type="radio" id="in_cash" name="pay" value="in_cash" />
                <label for="in_cash">Наличными в магазине</label>
            </div>
            <div class="radio-var check">
                <input type="radio" id="card" name="pay" value="card" />
                <label for="card">Банковской картой на сайте</label>
                <img class="img-var"
                    src="https://sun9-7.userapi.com/impg/lMu5OYbAgrCSsRTaLkxEEXQq4GkjWreUp93uQg/hjHJKFN0zY4.jpg?size=508x511&quality=95&sign=56a79f2e7e627a4d0545d446b091dcc0&type=album"
                    style="width: 100px; height: 100px;" alt="">
            </div>

        </div>
    </div>



    <button (click)="sendOrder($event)" class="btn-pay" *ngIf='showBtn'>Создать заказ</button>



</div>