.link {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    display: flex;
}

.news {
    margin-left: 20px;
    margin-bottom: 120px;
}

.new-img {
    width: 250px;
    height: 300px;
    margin-left: 20px;
}

.book-info-wrap {
    display: block;
}

.n-title {
    font-style: italic;
}