<div class="book-info-wrap">
    <div class="m-3 link">
        <a routerLink="/books/books-list">Назад</a>
    </div>

    <div class="news">
        <div class="new-book">
            <h3>Скоро открытие предзаказа</h3>
            <h4>Холли Блэк. Принц Эльфхейма. Украденный наследник</h4>
            <p class="n-title">Спин-офф культовой фэнтези-трилогии Холли Блэк о Фейриленде «Воздушный народ»!
                Действие происходит в той же Вселенной, теперь в игру вступают наследники — принц Оук и королева Сурен.
                Вместе им предстоит бороться со злом в любимом Эльфхейме,
                защищая сердца друг от друга, ведь у каждого из них свои тайны и секреты.</p>
            <h4>688 руб.</h4>
            <img class="new-img" src="../../../assets/img/img/book19.jpg" alt="">
        </div>

        <div clas="cod">
            <h4>Скоро. Добавление дополнительной скидки по промокоду</h4>
        </div>
    </div>


</div>