.link {
margin-top: 50px;
margin-left: 10px;
width: 100%;
}

.news {
    margin-left: 20px;
}

.new-img {
width: 250px;
height: 300px;
margin-left: 20px;
}

.book-info-wrap {
    display: block;
}

.n-title {
    font-style: italic;
}
