.time-block {
text-align: right;
}

.login-block {
    //left: 50%;
    //top:65%;
    position: absolute;
    left: 10px;
    top: 30px;
}

.main-header {
    background-color:lightsteelblue;
    color: white;
    width: 100%;

    & .menu-items {
      & .menu-item {
        &.hidden {
         display: none;

        }
      }  
    }
}

.main-btn {
    width:120px;
    height: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.main-btn:hover {
    background-color: rgb(97, 147, 213);
    color: white;
}