/*.book-info-wrap {
    display: flex;

}*/

.book {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.book-btn {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.btnAct {
    height: 40px;
    width: 115px;
    background-color: white;
    border-color: lightsteelblue;
    margin-right: 10px;
}

.btnAct :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.book-item {
    margin-left: 10px;
    margin-bottom: 5px;
   
}

.btn-card {
    height: 40px;
    width: 120px;
    background-color: white;
    border-color: lightsteelblue;
    float: left;
    ;
}

.btn-card :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.book-name {
    padding-top: 10px;
    padding-bottom: 10px;
}
.book-title {
    padding-bottom: 10px; 
}

.book-price {
    padding-bottom: 10px; 
}

.book-description {
    padding-bottom: 10px; 
    width: 500px;
}