.book-pay {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 600px;
}

.radio {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.radio-var {
    margin-left: 10px;
    padding-bottom: 10px;
}


.btn-cod {
    padding-left: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-cod :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.img-var {
    float: right;
}

.check .img-var {
    display: none;
}

.check input[type=radio]:checked~.img-var
{
    display:block;
}

.initP {
    margin-top: 30px;
    margin-left: 10px;
    width:120px;
    height: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.initP :hover {
    background-color: lightsteelblue;
    border-radius: white;
}