<div class="m-3 book-pay">

    <a routerLink="/books/books-list">Назад</a>

        <legend class="radio">Способ получения книги</legend>

        <div class="radio-var store">
            <input type="radio" id="in" name="receiving" value="in_store" />
            <label for="in_store">Самовывоз из магазина</label>
            <p class="in_store">Наш адрес</p>
        </div>
    
        <div class="radio-var courier">
            <input type="radio" id="out" name="receiving" value="courier" />
            <label for="courier">Доставка курьером</label>
            <input type="text" placeholder="Укажите ваш адрес" class="address">
        </div>
    
    
        <legend class="radio">Способ оплаты</legend>
    
        <div class="radio-var">
            <input type="radio" id="in_card" name="pay" value="in_card" />
            <label for="in_card">Банковская карта в магазине</label>
        </div>
        <div class="radio-var">
            <input type="radio" id="in_cash" name="pay" value="in_cash" />
            <label for="in_cash">Наличными в магазине</label>
        </div>
        <div class="radio-var check">
            <input type="radio" id="card" name="pay" value="card" />
            <label for="card">Банковской картой на сайте</label>
            <img class="img-var"
                src="https://sun9-7.userapi.com/impg/lMu5OYbAgrCSsRTaLkxEEXQq4GkjWreUp93uQg/hjHJKFN0zY4.jpg?size=508x511&quality=95&sign=56a79f2e7e627a4d0545d446b091dcc0&type=album"
                style="width: 100px; height: 100px;" alt="">
        </div>
    
        
        <button (click)="initPay($event)" class="initP">Оформить заказ</button>

</div>