.books-item {
    height: 350px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    flex-direction: column;
    margin: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    opacity: 0.9;
    float: left;
}

.book-img {
    padding-top: 5px;
}

.list {
    margin-top: 20px;
}

.search {
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn-sort {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 30px;
}

.btnS {
    height: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.btnS :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.btn-add {
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-add :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

