<div class="list">
    <div class="search">
        <input #bookSearch [(ngModel)]='bookSearchValue' type="text" pInputText>
        <div *ngIf="books?.length === 0">Данные не найдены</div>
    </div>



    <div class="btn-sort">
        <button (click)="sortPriceInc()" class="btnS">По возрастанию цены</button>
        <button (click)="sortPriceDec()" class="btnS">По убыванию цены</button>
        <button (click)="removePrice()" class="btnS">Сбросить</button>
    </div>


    <div appBlocksStyle *ngIf="books" class="d-flex flex-wrap justify-content-around" #blockDirective="blocksStyle"
        [selector]="'.books-item'" [initFirst]="false" (renderComplete)="directiveRenderComplete($event)">
        <div class="books-item col-3 m-2" *ngFor="let item of books; let i = index">
            <div class="book-name">{{item.name}}</div>
            <div class="book-title">{{item.title}}</div>
            <div class="book-price">{{item.price | currency: "руб. " }}</div>
            <div class="book-img">
                <img src="../../../assets/img/img/{{item.img}}" (click)="goToBookInfoPage(item)" width="150px"
                    height="200px">
            </div>
            <button (click)="addToCart(item)" class="btn-add btn-success" [disabled]="btnClick">В корзину</button>
        </div>
    </div>
</div>