.books-item {
    height: 350px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    flex-direction: column;
    display: inline-block;
    margin: 10px;
}


.list {
    margin-top: 40px;
}

.search {
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn-sort {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 30px;
}

.btnS {
    height: 30px;
    background-color: white;
    border-color: lightsteelblue;
}

.btnS :hover {
    background-color: lightsteelblue;
    border-radius: white;
}

.btn-add {
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    border-color: lightsteelblue;
}

.btn-add :hover {
    background-color: lightsteelblue;
    border-radius: white;
}