<div class="container">
    <div class="phrase">
        <p>Молви друг и войди! (с) Дж.Р.Р.Толкин <br> <br>

            Мы рады видеть вас в нашем фэнтази-магазине.  <br>
            Удачного выбора книг <br>

            Работает читательская полка. Книги не подлежат продаже или обмену. Только для чтения <br>

            Так же можно заказатать книгу для чтения из основного списка каждые вторые и четвертые выходные месяца
            Оформить можно в электронном письме
        </p>
    </div>
</div>
<div class="carousel">
    <p-carousel [value]="books" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-book pTemplate="item">
            <p-image [src]="book.image" (click)="goToBookInfoPage(book)" class="book-img" width="300px">
            </p-image>
        </ng-template>
    </p-carousel>
</div>