<div class="container">
    <div class="phrase">
        <p>Молви друг и войди! (с) Дж.Р.Р.Толкин <br> <br>

            Мы рады видеть вас в нашем новом магазине «Книги волшебного леса». <br>
            Представлен каталог книг в жанре фэнтази.
            Удачного выбора книг.
        </p>
    </div>
</div>
<div class="carousel">
    <p-carousel [value]="books" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-book pTemplate="item">
            <p-image [src]="book.image" (click)="goToBookInfoPage(book)" class="book-img" width="300px">
            </p-image>
        </ng-template>
    </p-carousel>
</div>