.container {
    margin-top: 40px;
    font-style: italic;
    margin-left: 100px;
}


.carousel {
    margin-left: 30px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.book-img {
    width: 300px;
    height: 400px;
}