<div class="d-flex flex-column col-6 registration-input-wrap m-auto">
    <div>
        <span class="mx-3 reg-login">Логин</span>
        <input type="text" pInputText [ngClass]="{'input-error' : !login}" [(ngModel)]="login" #minLength
            #name="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,}" />
    </div>

    <div [hidden]="name.valid || name.untouched" class="alert">
        Длина должна быть неменьше 3-х знаков. Может содержать буквы в верхнем и нижнем регистре,
        а так же символы и цифры
    </div>

    <div>
        <span class="mx-3 reg-psw">Пароль</span>
        <input type="password" class="mt-3" pInputText [ngClass]="{'input-error' : !psw}" [(ngModel)]="psw"
            #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
    </div>

    <div [hidden]="password.valid || password.untouched" class="alert">
        Длина должна быть неменьше 6-х знаков. Может содержать 1 букву в верхнем и 1 букву в нижнем регистре,
        а так же символы и цифры
    </div>

    <div>
        <span class="mx-3 reg-psw">Повторить пароль</span>
        <input type="password" class="mt-3" pInputText [ngClass]="{'input-error' : !pswRepeat}" [(ngModel)]="pswRepeat"
            #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
    </div>
    <div [hidden]="password.valid || password.untouched" class="alert">
        Длина должна быть неменьше 6-х знаков. Может содержать 1 букву в верхнем и 1 букву в нижнем регистре,
        а так же символы и цифры
    </div>


    <div>
        <span class="mx-3 reg-email">Почта</span>
        <input type="text" class="mt-3" pInputText #address="ngModel" [(ngModel)]="email" pattern="^\S+@\S+\.\S+$" />
    </div>
    <div [hidden]="address.valid || address.untouched" class="alert">
        Некорректный email
    </div>


    <p-checkbox (inChange)="saveSelected()" label="Сохранить данные при регистрации" name="groupname" [binary]="true"
        [(ngModel)]="saveValue" class="mx-3 reg-box"></p-checkbox>

    <div class="mt-5 d-flex justify-content-center">
        <button [disabled]="!login || !psw || !pswRepeat" (click)="registration($event)" type="button"
            class="btn btn-success reg-btn" [(value)]="messages">Зарегистрироваться</button>
    </div>
    <p-toast></p-toast>
</div>